
{% extends "base.html" %}
{% block content %}

<style>
//#udfileId {width:100px}
</style>

 <head>
  <title> New Document </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 </head>
 <body>
</br></br>
<label>上传Excel文件</label>
<p></p>
<img id="loading " src="/static/imgs/ld1.gif" style="display:none;">
<input id="udfileId" type="file" size="20" name="fn" class="input">
</br>
<button class="button" id="buttonUpload" onclick="return ajaxFileUpload ();">上传</button>
</br>
</br>
<div id="rzinfo">
</div>
</br>
<div id="rzwar">
</div>

<script type="text/javascript">

function ajaxFileUpload (){
loading();//动态加载小图标
$.ajaxFileUpload ({
url :'/cmdb/count',
type:'post',
secureuri :false,
fileElementId :'udfileId',
dataType : 'json',
success : function (data, status){
console.log(data)
if(typeof(data.error) != 'undefined'){
if(data.error != ''){
alert(data.error);
}else{
$("#rzinfo").html(data.info)
$("#rzwar").html(data.warning)
}
}
},
error: function (data, status, e){
alert(e);
}
})
return false;
}

function loading (){
$("#loading ").ajaxStart(function(){
$(this).show();
}).ajaxComplete(function(){
$(this).hide();
});
}

</script>
</body>

{% endblock %}

