
{% extends "base.html" %}
{% block content %}

<style>
#add {float:left;width:14%}
#download {float:left;width:20%}
#hostsnum {float:left;width:20%}
#addbtn {float:left;margin-top:15px}
#d1 {float:left;margin-top:15px}
#t2 {margin-top:15px}
#adddiv {width:1200px}
#s1 {width:90px}
#ndport {width:100px}
#ndvlan {width:70px}
#ndipaddr {width:150px}
#linkndname {width:170px}
#linkndport {width:100px}
#linkndaddr {width:150px}
</style>

	<div class="container" style="float:left">
		<div class="row">
		<p></p>
                <div id="add">
                        <a href="/cmdb/hostform"><button class="btn btn-info aidc"> 添加 +</button></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                </div>
		<div id="download">
                        <a href="/cmdb/download/网络设备.xls"><button class="btn btn-info aidc">导出 Excel</button></a>
                </div>
                <div id='hostsnum'>
                </div>
                <br></br>
                <p></p>
	  		<div class="dataTables_scrollBod" style="float:left; width:1200px">
			<table class="table table-striped table-bordered table-bordered dataTable no-footer">
 			<thead>
                                <tr>
                                        <th>地理位置</th>
                                        <th>设备名</th>
                                        <th>设备型号</th>
                                        <th>SN号</th>
                                        <th>责任人</th>
                                        <th>运行状态</th>
                                        <th>备注</th>
                                </tr>
 			</thead>
 			<tbody id='table-content'> 				
 			</tbody>
			</table>
			</div>
		</div>
	</div>

<div class="modal fade" id='updateModal'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
	<label class="form-label">机柜名</label>
        <input id='ndrack' type="text" class='form-control'>
      </div>
      <div class="modal-body">
        <label class="form-label">地理位置</label>
        <input id='ndaddr' type="text" class='form-control'>
      </div>
      <div class="modal-body">
	<label class="form-label">备注</label>
        <input id='ndnote' type="text" class='form-control'>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" id='saveUpateBtn' class="btn btn-primary">修改</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="/static/jquery.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
	<script>

                $(document).on('click','.ndupdate',function(){
                        id = $(this).attr('data-id')
                        $('#updateModal').modal('show')
                })

                $("#saveUpateBtn").on('click',function(){
                        var cmdbtype = 'netdevicesall'
                        var ndrack = $('#ndrack').val()
                        var ndaddr = $('#ndaddr').val()
                        var ndnote = $('#ndnote').val()
                        $.get('/cmdb/update?ndrack='+ndrack+'&ndaddr='+ndaddr+'&ndnote='+ndnote+'&id='+id+'&cmdbtype='+cmdbtype, function(res){
                                        alert('修改成功')
                                        $('#updateModal').modal('hide')
                                        getList()
                        })
                })

		function getList(page){
			var cmdbtype = 'netdevicesall'
			var url = '/cmdb/query?cmdbtype='+cmdbtype
			if (page) {
				url = url+'?page='+page
			};
                        res = $.ajax({url:url,async:false})
			// 提取返回的数据（字符串）
                        rdatas = res.responseText
			// 字符串转换成json
                        jrdatas = JSON.parse(rdatas)
                        $('#table-content').html(jrdatas.table_str)
                        return jrdatas.ndname
		}

		var ndshow = getList()

		$(document).on('click','.nddlt',function(){
			var id = $(this).attr('data-id')
			var cmdbtype = 'netdevicesall'
			var url = '/cmdb/delete?id='+id+'&cmdbtype='+cmdbtype
			$.get(url,function(res){
				if (res=='ok') {
					alert('删除成功')
					getList()
				};
			})
		})

	</script>

{% endblock %}

